
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section styles {
    @Styles.Render("~/Content/Dashboard.css")
}
<ul class="box-info">
    <li>
        <i class='fa-regular fa-circle-user fa-2xl'></i>
        <span class="text">
            <h3>Welcome!</h3>
            <p>Juan Dela Cruz</p>
            <p class="time">Last login on 6/07/2023 | 03:00 PM</p>
        </span>
    </li>
</ul>
<div class="table-data">
    <div class="order">
        <div class="head">
            <div class="input-fields-container">
                <h3 style="text-align:center;">Transaction History</h3>

                <label for="startdate" class="start">From</label><br>
                <input type="date" id="startdate" name="startdate"><br><br>

                <label for="enddate" class="end">Until</label><br>
                <input type="date" id="enddate" name="enddate"><br><br>

                <input type="text" id="merchant" placeholder="Merchant">

                <button id="filter">Filter</button>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="table-container">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Date</th>
                        <th>Merchant</th>
                        <th>Debit</th>
                        <th>Running Balance</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>
    <div class="todo">
        <div class="head">
            <h3>Cards</h3>
            <i class='bx bx-plus'></i>
            <i class='bx bx-filter'></i>
        </div>
        <ul class="todo-list">
            <li class="completed">
                <p class="card-info">
                    Juan Dela Cruz<br>
                    5342 7898 XX23
                    <img src="~/Content/Dashboard/chip.png" alt="TBGI-logo" class="chip" width="70px" height="50px"><br>
                </p>
                <i id="modalBtn2" class="fas fa-edit"></i>
            </li>
            <li class="completed">
                <p class="card-info">
                    Juan Dela Cruz<br>
                    5342 7898 XX23
                    <img src="~/Content/Dashboard/chip.png" alt="TBGI-logo" class="chip" width="70px" height="50px"><br>
              </p>    
                <i id="modalBtn" class="fas fa-edit"></i>
            </li>
        </ul>
    </div>
</div>

@*--------Edit Card---------*@
<!-- Modal Sample test  -->
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h2>Credit Card Information</h2>
        </div>
        <!-- Tab Buttons -->
        <div style="text-align: center;" class="tab">
            <button class="tablinks" onclick="openTab(event, 'Tab1')">View Details</button>
            <button class="tablinks" onclick="openTab(event, 'Tab2')">PIN Change</button>
        </div>

        <!-- Gray Box -->
        <div class="gray-box">
            <!-- Tab Content -->
            <div id="Tab1" class="tabcontent">
                <div class="cardInfoContainer">
                    <div class="leftBox">
                        <p>CARD HOLDER'S NAME:</p>
                        <p>CO-BRANDS:</p>
                        <p>CARD NUMBER:</p>
                        <p>VALID THRU:</p>
                    </div>
                    <div class="rightText">
                        <p id="cardName">NONAME</p>
                        <p id="cardBrand">OmniPay</p>
                        <p id="cardNumber">6233-XXXX-XXXX-0016</p>
                        <p id="cardValidity">06/2023</p>
                    </div>
                </div>
                <div class="removeCardBtnContainer">
                    <button onclick="clearCard()" class="removeCardBtn">REMOVE CARD</button>
                </div>
            </div>

            <div id="Tab2" class="tabcontent">
                <form class="pinContainer">
                    <div class="pinText">
                        <p class="pinLabel">Old PIN</p>
                        <p class="pinLabel">New PIN</p>
                        <p class="pinLabel">Re-enter New PIN</p>
                    </div>
                    <div class="pinInput">
                        <div class="oldPinContainer">
                            <input type="password" class="passwordPin" id="oldPin">
                            <i class="fa-solid fa-eye" id="oldPinEye"></i>
                            <div class="pinVerticalLine"></div>
                        </div>
                        <div class="newPinContainer">
                            <input type="password" class="passwordPin" id="newPin">
                            <i class="fa-solid fa-eye" id="newPinEye"></i>
                            <div class="pinVerticalLine"></div>
                        </div>
                        <div class="confirmPinContainer">
                            <input type="password" class="passwordPin" id="confirmPin">
                            <i class="fa-solid fa-eye" id="confirmPinEye"></i>
                            <div class="pinVerticalLine"></div>
                        </div>
                    </div>
                </form>
                <div class="updatePinContainer">
                    <button id="updatePin" class="updatePinBtn">UPDATE PIN</button>
                </div>
            </div>
        </div>


        <!-- Close Button -->
        <div class="close-button-container">
            <button id="closeBtn" class="close-button">CLOSE</button>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/Dashboard.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
}