@{
    ViewBag.Title = "Transaction History";
}
@section styles {
    @Styles.Render("~/Content/transaction-history.css")
}

<div class="main-container">
    <img src="@Url.Content("~/Content/Home/vision1.png")" id="Handshake">
    <div class="overlay"></div>
    <div class="nav-container"></div>
    <div class="input-fields-container">
        <label for="startdate">From</label><br>
        <input type="date" id="startdate" name="startdate"><br><br>

        <label for="enddate" class="end">Until</label><br>
        <input type="date" id="enddate" name="enddate"><br><br>

        <input type="text" id="merchant" placeholder="Merchant">

        <button id="filter">Filter</button>
    </div>
    <div class="table" id="table-container">
        <div class="table-wrapper">
            <table id="dynamic-table"></table>
        </div>
    </div>
</div>



@section scripts {
    <script src="@Url.Content("~/Scripts/transaction-history.js")"></script>
}